body
{
    width:100%;
    background-color: rgb(206, 201, 189);
}

/* ======================Left div======================= */
.left
{
    float: left;
    /* padding: 15px; */
    width:40%;
    background-color: beige;
}
#flagnamediv
{
    border: 2px solid black;
    height: 250px;
    padding: 5%;
}
#populationpercentdiv p {
    border: 2px solid black;
    margin: auto;  
    padding: 30px;
    text-align: center;
  }
  /* =======================Right div====================== */
.right{
    float: left;
    width: 60%;
}

#rightdiv
{
    padding: 0% 10% 10% 20%;
    height: 250px;
}
#rightdiv p {
    border: 2px solid black;
    margin: auto;  
    padding: 10px;
    text-align: left;
    background-color: cornsilk;
  }

  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  /* Field font size */
  #populationnumber,#area,#density
  {
    font-weight: bold;
    
  }



#footer
{
    clear: both;
    text-align: center;
}

